@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: "Krona One", sans-serif; /* Set the font family to Krona One */
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "Krona One", sans-serif; /* Set the font family to Krona One */
}

p {
  margin: 1rem 0;
  font-family: "Krona One", sans-serif; /* Set the font family to Krona One */
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
